/* clojk CSS */
.segment-display svg path,
.segment-display svg circle {
	fill: #f9f9f9;
	stroke: #0e0;
	stroke-opacity: 0;
}

.segment-display svg path.lit,
.segment-display svg .lit circle {
	fill: #0e0;
	stroke-opacity: 1;
}

.time .seconds {
	font-size: smaller;
}
